[Unit]
Description=Python script scheduler
After=network.target
StartLimitIntervalSec=0
[Service]
WorkingDirectory=/root/pyscheduler/
Type=simple
Restart=always
RestartSec=1
User=centos
ExecStart=python run.py

[Install]
WantedBy=multi-user.target